flows (1).json
[{"id":"a672dbc9.a9a408","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"144ae729.12d4c9","type":"watson-conversation-v1","z":"a672dbc9.a9a408","name":"test bot","workspaceid":"920310c4-3ebe-4596-aa4a-cfa46d6a85e8","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/c1247d88-7ac6-4c40-9ef8-ea97cae7efa2","timeout":"","optout-learning":false,"x":340,"y":220,"wires":[["6eb34e8c.5acd9"]]},{"id":"dbdab2b2.1b287","type":"inject","z":"a672dbc9.a9a408","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["144ae729.12d4c9"]]},{"id":"b2684dba.554cb","type":"debug","z":"a672dbc9.a9a408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":340,"wires":[]},{"id":"6eb34e8c.5acd9","type":"function","z":"a672dbc9.a9a408","name":"parsing","func":"if(msg.payload.output.error){\n    msg.payload =\"please rephrase\";\n    return msg;\n}\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":260,"wires":[["b2684dba.554cb","20308af5.880f26"]]},{"id":"b50b9379.933da","type":"ui_form","z":"a672dbc9.a9a408","name":"","label":"","group":"974f7cb1.52dbc","order":1,"width":0,"height":0,"options":[{"label":"enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":400,"wires":[["bc235c.78228ca8"]]},{"id":"bc235c.78228ca8","type":"function","z":"a672dbc9.a9a408","name":"input parsing","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":300,"wires":[["144ae729.12d4c9","afe74b4f.f3b388"]]},{"id":"afe74b4f.f3b388","type":"ui_text","z":"a672dbc9.a9a408","group":"974f7cb1.52dbc","order":2,"width":15,"height":1,"name":"","label":"YOU","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":400,"wires":[]},{"id":"20308af5.880f26","type":"ui_text","z":"a672dbc9.a9a408","group":"974f7cb1.52dbc","order":3,"width":15,"height":8,"name":"","label":"BOT","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":160,"wires":[]},{"id":"974f7cb1.52dbc","type":"ui_group","z":"","name":"chat bot","tab":"e9f1e84e.23e188","order":1,"disp":true,"width":15,"collapse":false},{"id":"e9f1e84e.23e188","type":"ui_tab","z":"","name":"smart","icon":"dashboard","disabled":false,"hidden":false}]